<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>pm</param-name>
    <param-value>ParkSeongBong</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>control.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifecycleServlet</display-name>
    <servlet-name>LifecycleServlet</servlet-name>
    <servlet-class>control.LifecycleServlet</servlet-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifecycleServlet</servlet-name>
    <url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DupchkServlet</display-name>
    <servlet-name>DupchkServlet</servlet-name>
    <servlet-class>control.DupchkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DupchkServlet</servlet-name>
    <url-pattern>/dupchk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchZipServlet</display-name>
    <servlet-name>SearchZipServlet</servlet-name>
    <servlet-class>control.SearchZipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchZipServlet</servlet-name>
    <url-pattern>/searchzip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServlet</display-name>
    <servlet-name>MoveServlet</servlet-name>
    <servlet-class>control.MoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServlet</servlet-name>
    <url-pattern>/move</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>control.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/result</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinServlet</display-name>
    <servlet-name>JoinServlet</servlet-name>
    <servlet-class>control.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinServlet</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
</web-app>